ServiciosWeb/Connected Services/ServicioPermisos/GenericoConsultaSCSWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obtieneDatosGenericoSCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsulta" type="xs:int" />
        <xs:element minOccurs="0" name="parametros" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtieneDatosGenericoSCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtieneDatosGenericoSCSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>