ServiciosWeb/Connected Services/ServicioIEMS/CertificadosIEMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://ws.web.mec.sep.mx/schemas" xmlns:tns="http://ws.web.mec.sep.mx/schemas" targetNamespace="http://ws.web.mec.sep.mx/schemas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ws="http://ws.web.mec.sep.mx/schemas" xmlns:min="http://ws.web.mec.sep.mx/schemas/beans" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.web.mec.sep.mx/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="autenticacionType">
        <xs:sequence>
          <xs:element name="usuario" type="xs:string" />
          <xs:element name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="cargaCertificadosIEMSRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nombreArchivo">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2" />
                  <xs:maxLength value="100" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="archivoBase64" type="xs:base64Binary" />
            <xs:element name="autenticacion" type="ws:autenticacionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaCertificadosIEMSRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroLote" type="xs:integer" />
            <xs:element name="autenticacion" type="ws:autenticacionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="descargaCertificadosIEMSRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroLote" type="xs:integer" />
            <xs:element name="autenticacion" type="ws:autenticacionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cancelarCertificadosIEMSRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="folioCertificado" type="xs:string" />
            <xs:element name="autenticacion" type="ws:autenticacionType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cargaCertificadosIEMSResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroLote" type="xs:integer" />
            <xs:element name="mensaje" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaCertificadosIEMSResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroLote" type="xs:integer" />
            <xs:element name="estatusLote" type="xs:short" />
            <xs:element minOccurs="0" name="mensaje" type="xs:string" />
            <xs:element minOccurs="0" name="excelBase64" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="descargaCertificadosIEMSResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroLote" type="xs:integer" />
            <xs:element name="mensaje" type="xs:string" />
            <xs:element name="certificadosBase64" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cancelarCertificadosIEMSResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codigo" type="xs:int" />
            <xs:element name="mensaje" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="cargaCertificadosIEMSRequest">
    <wsdl:part name="cargaCertificadosIEMSRequest" element="tns:cargaCertificadosIEMSRequest" />
  </wsdl:message>
  <wsdl:message name="cargaCertificadosIEMSResponse">
    <wsdl:part name="cargaCertificadosIEMSResponse" element="tns:cargaCertificadosIEMSResponse" />
  </wsdl:message>
  <wsdl:message name="consultaCertificadosIEMSRequest">
    <wsdl:part name="consultaCertificadosIEMSRequest" element="tns:consultaCertificadosIEMSRequest" />
  </wsdl:message>
  <wsdl:message name="consultaCertificadosIEMSResponse">
    <wsdl:part name="consultaCertificadosIEMSResponse" element="tns:consultaCertificadosIEMSResponse" />
  </wsdl:message>
  <wsdl:message name="descargaCertificadosIEMSRequest">
    <wsdl:part name="descargaCertificadosIEMSRequest" element="tns:descargaCertificadosIEMSRequest" />
  </wsdl:message>
  <wsdl:message name="descargaCertificadosIEMSResponse">
    <wsdl:part name="descargaCertificadosIEMSResponse" element="tns:descargaCertificadosIEMSResponse" />
  </wsdl:message>
  <wsdl:message name="cancelarCertificadosIEMSRequest">
    <wsdl:part name="cancelarCertificadosIEMSRequest" element="tns:cancelarCertificadosIEMSRequest" />
  </wsdl:message>
  <wsdl:message name="cancelarCertificadosIEMSResponse">
    <wsdl:part name="cancelarCertificadosIEMSResponse" element="tns:cancelarCertificadosIEMSResponse" />
  </wsdl:message>
  <wsdl:portType name="CertificadosIEMSPortType">
    <wsdl:operation name="cargaCertificadosIEMS">
      <wsdl:input name="cargaCertificadosIEMSRequest" message="tns:cargaCertificadosIEMSRequest" />
      <wsdl:output name="cargaCertificadosIEMSResponse" message="tns:cargaCertificadosIEMSResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultaCertificadosIEMS">
      <wsdl:input name="consultaCertificadosIEMSRequest" message="tns:consultaCertificadosIEMSRequest" />
      <wsdl:output name="consultaCertificadosIEMSResponse" message="tns:consultaCertificadosIEMSResponse" />
    </wsdl:operation>
    <wsdl:operation name="descargaCertificadosIEMS">
      <wsdl:input name="descargaCertificadosIEMSRequest" message="tns:descargaCertificadosIEMSRequest" />
      <wsdl:output name="descargaCertificadosIEMSResponse" message="tns:descargaCertificadosIEMSResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelarCertificadosIEMS">
      <wsdl:input name="cancelarCertificadosIEMSRequest" message="tns:cancelarCertificadosIEMSRequest" />
      <wsdl:output name="cancelarCertificadosIEMSResponse" message="tns:cancelarCertificadosIEMSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CertificadosIEMSPortTypeSoap11" type="tns:CertificadosIEMSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargaCertificadosIEMS">
      <soap:operation soapAction="" />
      <wsdl:input name="cargaCertificadosIEMSRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cargaCertificadosIEMSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaCertificadosIEMS">
      <soap:operation soapAction="" />
      <wsdl:input name="consultaCertificadosIEMSRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultaCertificadosIEMSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="descargaCertificadosIEMS">
      <soap:operation soapAction="" />
      <wsdl:input name="descargaCertificadosIEMSRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="descargaCertificadosIEMSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarCertificadosIEMS">
      <soap:operation soapAction="" />
      <wsdl:input name="cancelarCertificadosIEMSRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelarCertificadosIEMSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificadosIEMSPortTypeService">
    <wsdl:port name="CertificadosIEMSPortTypeSoap11" binding="tns:CertificadosIEMSPortTypeSoap11">
      <soap:address location="http://mec.sep.gob.mx:80/mec-ws/services/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>